<!-- <div class="turquoise-line"></div> -->
<div class="container-money padding15-45">
  <div class="navbar-money amiko-13">
    <div class="navbar-money-left">
      <%= link_to root_path, class: "navbar-brand-2" do %>
        <%#= image_tag "MLOGO.png" %>
        <%= image_tag "MindYOURMoney.png" %>
      <% end %>
    </div>
    <div class="navbar-money-middle">
      <% Post::CATEGORIES.each do |category_name| %>
        <%= link_to category_name, posts_path(category: category_name) %>
      <% end %>
      <!-- <a href=""><span>Parier</span></a>
      <%#= link_to post.category, root_path(category: category) %>
      <a href=""><span>Investir</span></a>
      <a href=""><span>Bons Plans</span></a>
      <a href=""><span>Économiser</span></a> -->
      <a href=""><span>Contact</span></a>
    </div>
    <div class="navbar-money-right">
      <i class="fas fa-search"></i>
    </div>
  </div>
</div>








<%= link_to 'Home', root_path, class: "white-font" %>
  <% if admin_signed_in? %>
  <!--This block is only visible to signed in admins -->
    <%= link_to 'New Post', new_post_path, class: "white-font" %>
    <%= link_to 'My Account', edit_admin_registration_path, class: "white-font"  %>
    <%= link_to 'Logout', destroy_admin_session_path, class: "white-font", :method => :delete %>
  <!-- The block ends here -->
  <% else %>
    <%= link_to 'Login', new_admin_session_path, class: "white-font" %>
  <% end %>


