<div class="container-money">
  <h2 class="size23px">ARTICLES RÉCENTS</h2>
  <div class="container-post">
  <% @posts.each do |post| %>
    <div class="container-post-side">
      <div class="index-image">
        <%= image_tag(post.image) %>
      </div>
      <h3 class="size18px"><%= post.title %></h3>
      <p class="date-money"><%= post.created_at.strftime('%b %d, %Y') %></p>
      <div class="body-post">
        <%= raw(post.body).truncate(358) %>
      </div>
      <%= link_to "READ MORE", post_path(post), class: "add-turquoise" %>
      <br>
    <% if admin_signed_in? %>
      <%= link_to "Show", post_path(post), class: "btn btn-primary" %>
      <%= link_to "Edit", edit_post_path(post), class: "btn btn-default" %>
      <%= link_to "Delete", post_path(post), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
    <% end %>
    <hr />
    </div>
  <% end %>
  </div>
</div>
